body {
  margin:0;
  color:white;
  background: radial-gradient(#090021,#000000);
  font-family: "Roboto";
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  text-align: center;
}

button {
  border:none;
  background: white;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 7em;
  margin:0.5em;
}
button:hover{
  cursor: pointer;
  opacity: 0.9;
}
#launchpad {
  width:40em;
  max-height:22em;
  height:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em auto 0;
}

.item {
  width:5em;
  margin:0.3em;
  background: white;
  text-align: center;
  cursor:pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  border-radius: 7px;
}

.item p {
  margin:0 auto;
  align-self: center;
  color:black;
  font-size: 1em;
  text-transform: uppercase;
}

.item:hover {
  opacity: 0.9;
}

.result {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.timeline {
  width: 100%;
  height: 50px;
  background: none;
  margin-top:1em;
  display: flex;
  align-items: center;
}

.cursor {
  position: absolute;
  height: 50px;
  width: 2px;
  background: cyan;
  left:0%;
}

.point,.point-sep {
  position: absolute;
  height: 50px;
  width: 2px;
  background: #FFFFFF;
  cursor:pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 9999;
  cursor: move;
  transform: translate(0px, 0px);
}
.point p{
  margin:0;
  position: absolute;
  top:60px;
  left:-2px;
  font-weight: lighter;
  font-size: 12px;
}

.point-sep {
  z-index: 99999;
  opacity: 0.2;
}
.point:hover{
  height:60px;
  width:3px;
}

.link {
  text-decoration: none;
  color:white;
  display: flex;
  justify-content: center;
  padding:0.5em 1em;
  border: 1px solid white;
  width:fit-content;
  margin: 1em auto 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.link:hover {
  color:#030020;
  background-color: white;
}

.help {
  font-weight: normal;
  justify-content: center;
  margin: 4em auto 0;
  display: flex;
}

p {
  margin:0;
}

.beat-value, .bpm-value{
  margin-left:0.5em;
  height:2em;
  width:4em;
  text-align: center;
  align-self:center;
  font-weight: bolder;
  box-shadow: none;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width:500px){
  .item {
    width:3.5em;
    margin:0.3em;
  }
  #launchpad {
    width:21em;
    max-height:21em;
  }
}
