h1 {
  font-size: 4em;
}

#launchpad {
  width:auto;
  height:100%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10%;
  grid-column-gap: 5px;
  grid-row-gap:5px;
}

.item {
  width:100%;
  height:100%;
  background: blue;
  text-align: center;
  cursor:pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.item:hover {
  opacity: 0.6;
}
