h1 {
  font-size: 2em;
  text-align: center;
}

#launchpad {
  width:30em;
  max-height:30em;
  height:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.2em auto 0;
}

.item {
  width:5em;
  margin:0.5em;
  background: blue;
  text-align: center;
  cursor:pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: flex;
}

.item p {
  margin:0 auto;
  align-self: center;
  color:white;
  font-size: 1em;
  text-transform: uppercase;
}

.item:hover {
  opacity: 0.6;
}

.result {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

@media screen and (max-width:500px){
  .item {
    width:3.5em;
    margin:0.3em;
  }
  #launchpad {
    width:21em;
    max-height:21em;
  }
}

.timeline{
  width: 100%;
  height: 50px;
  background: #FAFAFA;
}

.cursor{
  position: absolute;
  height: 50px;
  width: 2px;
  background: #000000;
}

.point{
  position: absolute;
  height: 50px;
  width: 2px;
  background: #000000;
}
