body {
  margin:0;
  height: 100%;
  color:white;
  background-color: #030020;
  font-family: "Roboto";
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  text-align: center;
}

#launchpad {
  width:40em;
  max-height:22em;
  height:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em auto 0;
}

.item {
  width:5em;
  margin:0.3em;
  background: white;
  text-align: center;
  cursor:pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  border-radius: 7px;
}

.item p {
  margin:0 auto;
  align-self: center;
  color:black;
  font-size: 1em;
  text-transform: uppercase;
}

.item:hover {
  opacity: 0.6;
}

.result {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

.timeline {
  width: 100%;
  height: 50px;
  background: #030020;
  margin-top:1em;
}

.cursor {
  position: absolute;
  height: 50px;
  width: 2px;
  background: white;
  left:0%;
}

.point {
  position: absolute;
  height: 50px;
  width: 2px;
  background: #FFFFFF;
}

@media screen and (max-width:500px){
  .item {
    width:3.5em;
    margin:0.3em;
  }
  #launchpad {
    width:21em;
    max-height:21em;
  }
}
