body {
  margin:0;
  color:white;
  background: radial-gradient(#090021,#000000);
  font-family: "Roboto";
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  text-align: center;
}

#icon-help, #icon-option {
  position: absolute;
  top:10px;
  width:2em;
  cursor:pointer;
}
#icon-option {
  right:10px;
  transition: 0.3s ease-in-out;
}
#icon-option:hover{
  transform: rotate(45deg);
}
#icon-help {
  left:10px;
}

.help, .options {
  position: absolute;
  top:60px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:fit-content;
  background-color: white;
  display:none;
  padding:1em;
  color:black;
  border-radius: 5px;
  font-weight: lighter;
}
.options {
  right:10px;
}
.help {
  left:10px;
}
.help span {
  font-weight: bolder;
}


.buttons {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

button {
  border:none;
  border-radius: 2px;
  background: white;
  font-weight: 700;
  height:2em;
  width: 10em;
  margin:0.5em;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
button:hover{
  cursor: pointer;
  opacity: 0.9;
  font-size: .8em;
}
#launchpad {
  width:40em;
  max-height:22em;
  height:100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em auto 0;
}

.item {
  width:5em;
  margin:0.3em;
  background: white;
  text-align: center;
  cursor:pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  border-radius: 7px;
}

.item p {
  margin:0 auto;
  align-self: center;
  color:black;
  font-size: 1em;
  text-transform: uppercase;
}

.item:hover {
  opacity: 0.9;
}

.result {
  margin:0.5em 0;
  display: flex;
  justify-content: flex-start;
}

.timeline {
  width: 100%;
  height: 50px;
  background: none;
  margin-top:1em;
  display: flex;
  align-items: center;
}

.cursor {
  position: absolute;
  height: 50px;
  width: 2px;
  background: cyan;
  left:0%;
}

.beats {
  position: absolute;
  height: 50px;
  width: 2px;
  background: #1f1f1f;
  left:0%;
  opacity: 0;
  transition: all .3s;
  animation: fade-in .5s ease-in forwards;
}

.point,.point-sep {
  position: absolute;
  height: 50px;
  width: 2px;
  background: #FFFFFF;
  cursor:pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 999999;
  cursor: move;
  transform: translate(0px, 0px);
}
.point p{
  margin:0;
  position: absolute;
  top:60px;
  left:-2px;
  font-weight: lighter;
  font-size: 12px;
}

.point-sep {
  z-index: 99999;
  opacity: 0.2;
}
.point:hover{
  height:60px;
  width:3px;
}

.link {
  text-decoration: none;
  color:white;
  display: flex;
  justify-content: center;
  padding:0.5em 1em;
  border: 1px solid white;
  width:fit-content;
  margin: 5em auto 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.link:hover {
  color:#030020;
  background-color: white;
}

p {
  margin:0;
}

.beat-value, .bpm-value, .set-value{
  margin-left:0.5em;
  height:2em;
  width:6em;
  text-align: center;
  align-self:center;
  font-weight: bolder;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.1);
}

@media screen and (max-width:500px){
  .item {
    width:3.5em;
    margin:0.3em;
  }
  #launchpad {
    width:21em;
    max-height:21em;
  }
}

@keyframes fade-in {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes fade-out {
  from{
    opacity: 1;
  }

  to{
    opacity: 0;
  }
}
